<%# new sign up %>
<%= render "devise/shared/error_messages", resource: resource %>
<main class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <div class="form-floating">
      <%= f.text_field :username, class: "form-control", id: "floatingUsername", placeholder: "Username", autofocus: true%>
      <label for="floatingUsername">Username</label>
    </div>
    <div class="form-floating">
      <%= f.email_field :email, class: "form-control sign-up-email", id: "floatingEmail", placeholder: "name@example.com", autofocus: true, autocomplete: "email" %>
      <label for="floatingEmail">Email address</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password", autofocus: true, autocomplete: "new-password" %>
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password_confirmation, class: "form-control", id: "floatingPasswordConfirmation", placeholder: "Password", autocomplete: "new-password" %>
      <label for="floatingPasswordConfirmation">Password confirmation</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
  <% end %>
  <%= render "devise/shared/links" %>
</main>
