<div class="col-md-12 mt-4">
  <h3>Add Comment:</h3>
  <%= form_for([@article, Comment.new]) do |f| %>
    <div class="col-md-12 mt-4">
      <div class="col-md-12 mb-3">
        <%= f.label :author, class: "form-label" %>
        <%= f.text_field :author, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :body, 'Comment', class: "form-label" %>
        <%= f.text_area :body, class: "form-control", rows: 5 %>
      </div>
      <%= f.submit class: "btn btn-primary mb-4" %>
    <% end %>
  </div>
</div>
