<style>
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Указать количество строк, на которое хотите ограничить текст */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>

  <% @articles.each do |a| %>
    <div class="card mb-3" style="max-width: 100%">
      <div class="row g-0">
        <div class="col-md-6">
          <%= image_tag 'beach-1408077.jpg', class: "img-fluid rounded-start", alt: "..." %>
        </div>
        <div class="col-md-6 ">
          <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title"><%= a.title %></h5>
            <p class="card-text"><%= a.text %></p>
            <div class="d-flex justify-content-between mt-auto">
              <p class="card-text"><small class="text-body-secondary">Updated at: <%= a.updated_at.localtime.strftime('%D') %></small></p>
              <%= link_to 'Go to this Article', article_path(a), class: 'stretched-link' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

