<% @articles.each do |a| %>
  <div class="card mb-3">
    <%= image_tag 'beach-1408077.jpg', class: "card-img-top rounded-start", style: "max-height: 250px; object-fit: cover;" %>
    <div class="card-body">
      <h5 class="card-title"><%= a.title %></h5>
      <p class="card-text"><%= truncate(strip_tags(a.text.to_s), length: 125) %></p>
      <div class="d-flex justify-content-between mt-auto">
        <p class="card-text"><small class="text-body-secondary">Updated at: <%= a.updated_at.localtime.strftime('%d-%B-%Y %H:%M') %></small></p>
        <%= link_to 'Go to this Article', article_path(a), class: 'stretched-link' %>
      </div>
    </div>
  </div>
<% end %>
<% @articles.each do |a| %>
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-4 fst-italic"><%= a.title %></h1>
        <p class="lead my-3"><%= truncate(strip_tags(a.text.to_s), length: 200) %></p>
        <p class="lead mb-0"><%= link_to 'Continue reading...', article_path(a), class: "text-body-emphasis fw-bold" %></p>
      </div>
      <div class="col-lg-6">
        <%= image_tag 'yujiro_hanma_demon_back__4_by_ngtdat_dfqtyoy-pre.jpg', class: "object-fit-cover rounded float-end w-100 d-none d-sm-block" %>
      </div>
    </div>
  </div>
<% end %>
