<article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1"><%=@article.title%></h2>
  <p class="blog-post-meta"><%=@article.created_at.localtime.strftime('%d-%B-%Y %H:%M') %> by <a href=""><%=@article.author%></a></p>
  <div class="trix-content">
    <%= @article.text %>
  </div>
</article>
<% if owner?(@article) %>
<% else %>
  <%= link_to 'Edit', edit_article_path, class: "btn btn-primary" %>
  <%= link_to 'Delete', article_path(@article), class: "btn btn-primary", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<% end %>
<%= render 'form_comments' %>
<%= render 'comments' %>
